html, body {
    min-height: 100%;
}

.carousel-item img {
    height: 70vh;
    width: 100vw;
    object-fit: cover;
}

nav {
    min-height: 15vh;
}

footer {
    min-height: 15vh;
}

.menu-link.btn.focus, .menu-link.btn:focus {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

input:focus {
    -webkit-box-shadow: 0 0 10px rgba(255, 20, 147, 1)!important;
    -moz-box-shadow: 0 0 10px rgba(255, 20, 147, 1)!important;
    box-shadow: 0 0 10px rgba(255, 20, 147, 1)!important;
}

#sidebar {
	position: fixed;
	right: -15.625em;
	width: 15.625em;
	z-index: 1000000;
	background-color: pink;
}

#sidebar button {
    background-color:#e43c5c;
    color: white;
}

#sidebar div.card-header {
    background-color: #e43c5c;
    color: white;
}

#sidebar div.card {
    border: 1px solid #e43c5c;
}

#sidebar input {
    color: red;
    border: 1px solid #e43c5c;
}

.wrap {
	position: relative;
}

.text-pink {
    color: #e43c5c!important;
    font-size: 1.5rem;
    font-weight: bold;
}

.button-pink {
    border: 1px solid #e43c5c;
    color: #e43c5c;
    font-size: 1rem;
    font-weight: bold;
}

a:hover.button-pink, a:hover.contact-link {
    color: red;
}

.contact-link {
    color: #e43c5c;
    font-size: 1rem;
}

.tabulation .list-group {
    max-height: 49.5vh;
    overflow-y: scroll;
}

main, .jumbotron {
    background-color: #FFD2E8;
}

.jumbotron {
    -webkit-box-shadow: inset 0 8px 6px -6px #999;
    -moz-box-shadow: inset 0 8px 6px -6px #999;
    box-shadow: inset 0 8px 6px -6px #999;
}

.admincontainer{
    display: flex;
    min-height: 85vh;
    align-items: stretch;
}

.adminsidenav {
    width: 25vw;
    background-color: #b2497d;
}

.adminsidenav .card {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0;
}

.adminsidenav .card-header {
    background-color: #7f345a;
    color: #ffb4d9;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.adminsidenav .card-header a {
    color: #ffb4d9;
    text-decoration: none;
}

.adminsidenav a.list-group-item {
    background-color: #b2497d;
    color: #ffe1f0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.125)!important;
}

.adminsidenav a.list-group-item:hover,
.adminsidenav a.list-group-item.active {
    background-color: pink;
    color: #190a12;
}

.admincontent {
    width: 75vw;
    -webkit-box-shadow: inset 0 8px 6px -6px #999;
    -moz-box-shadow: inset 0 8px 6px -6px #999;
    box-shadow: inset 0 8px 6px -6px #999;
}